<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%= stylesheet_link_tag 'jquery.mobile.theme.custom', 
      'jquery.mobile.structure',
      'jqm-icon-pack-2.0-original',
      'mobile/mobile' %>
    <%= javascript_include_tag 'jquery',
      'jquery.mobile',
      'mobile/mobile' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='home' data-role='page' data-theme='e'>
      <div data-role='content' id="primary">
        <%= yield :logo_img %>
        <a href='#' data-role='button' data-inline='true' data-icon='phone'>Call Us!</a>
        <a href='#' data-role='button' data-inline='true' data-icon='mappin'>Find Us!</a>
        <a href='#' data-role='button' data-inline='true' data-icon='facebook'>Like Us!</a>
        <%= yield :nav_menu %>

        <%= yield %>

      </div>
    </div>

    <div id='next' data-role='page' data-theme='a'>
      <h3>Thanks for previewing your mobile site! Sign up at mbilify.com to finish your mobile make-over!</h3>
      <a href="index.html" data-role="button" data-icon="star">Sign Up!</a>
    </div>
  </body>
</html>
