<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%= stylesheet_link_tag 'jquery.mobile', 
      'jqm-icon-pack-2.0-original',
      'mobile/mobile' %>
    <%= javascript_include_tag 'jquery',
                               'jquery.mobile',
							   'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='home' data-role='page' data-theme='e'>
      <div data-role='content' id="primary" style="position: relative;" ondrop="drop(event)">
        <%= yield :logo_img %>
        <a href='#' data-role='button' data-inline='false' data-icon='phone' id='drag1'>Call Us!</a>
        <a href='#' data-role='button' data-inline='false' data-icon='mappin' id='drag2'>Find Us!</a>
        <%= yield :nav_menu %>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
